*{
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

nav{
    background-color: #009B7D ;
    height: 60px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.nav_menu{
    display: flex;
    align-items: center;
}

.nav_btn>button{
    visibility: hidden;
    width: 50px;
    border: none;
    border-radius: 10px;
    
}

.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8D9DB;
}

.li_logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 0.9;
    
    margin-right: 60px;
}

.nav_menu>li{
    list-style: none;
    width: 120px;
    font-size: larger;
    color: white;

}

li>a{
    text-decoration: none;
    color: white;
}

.nav_btn{
    display: flex;
    align-items: center;
    padding-right: 40px;
    font-size: 25px;
    color: white;
}
  
.excBtn, .whatsapp_link{
    border: none;
    background-color: #009B7D;
    color: white;
    display: block;
    margin: auto;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    position: relative;
    animation: slider 0.8s ease-out forwards;
}

.text_div{
    padding: 40px 30px;
    position: relative;
}

@keyframes slider {
    from {
        opacity: 0;
        left: -900px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.sec2{
    padding-bottom: 50px;
}

.sec2>h1{
    padding-top: 70px;
    padding-bottom: 50px;
    color: #009B7D;
}

.sec2_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}


.sec2_div>div>img{
    width: 200px;
}

h3{
    text-align: center;
    color: #6d6e6e;
}

.logo_down{
    position: relative;
    top: 20px;
}

.sec2_div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 40px;
}

.sec2_div2>div>img{
    width: 200px;
}

.sec3{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-bottom: 40px;
}

.sec3>div{
    padding: 40px 20px;
    display: flex;
}

.sec3>h1{
    color: #009B7D;
    padding: 0 20px;
    text-align: center;
}

ul>li{
    color: black;
}

ul>li>span{
    font-weight: bold;
}

.sec3_div2{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0 40px ;
    background-color: #D8D9DB;
    
}

.sec4{
    padding: 40px 20px;
    
}

.sec4>h1{
    text-align: center;
    color: #009B7D;
    padding-bottom: 30px;
}

.row{
    gap: 35px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row>div{
    border: none;
    border-radius: 10px;
    background-color: #eeeff1;
    padding: 20px 0; 
}

.row>div:hover{
    box-shadow: 2px 0 5px grey;
    cursor: pointer;
}

footer>div>i{
    padding: 0 10px;
}

.f_d2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec5{
    text-align: center;
    color: #009B7D;
    padding-top: 30px;
}

.sec5_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding: 20px 0;
}



/* .row>div>span{
    background-color: #eeefef;
    
} */

.small_navDiv{
    display: none;
}

@media only screen and (max-width:1275px){
    
    .sec_contact{
        flex-direction: column-reverse;
        /* justify-content: center;
        align-items: center;
        width: 70%; */
        
    }

    .sec2divv{
        display: flex;
        
    }
    .sec2divv>img{
        width: 100%;
    }
}


@media only screen and (max-width:780px) {

    .revSec1{
        flex-direction: column;
    }
    
    .small_navDiv{
        display: none;
        position: absolute;
        right: 0%;
        top: 60px;
        width: 180px;
        background-color: rgb(181, 187, 189);
        z-index: 1;
    }
    
    
    .small_navDiv>div{
        height: 40px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .small_navDiv>div>a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    
    }

    .nav_btn>button{
        visibility: visible;
    }
    .nav_home,.nav_exchange,.nav_review,.nav_contact{
        display: none;
    }

    .sec1{
        flex-direction: column;
    }

    .sec2_div{
        flex-direction: column;
    }

    .sec2_div2{
        flex-direction: column;
    }

    .sec3>div{
        flex-direction: column;
    }

    .sec5_div{
        flex-direction: column;
    }

    .div_img1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec3_div2{
        padding-top: 30px;
    }
    .div_img1>img, .sec3_div2>img{
        width: 100%;
    }

    
}

@media only screen and (max-width:600px){
    .sec2_div>div,
    .sec2_div2>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sec2_div>div>img,
    .sec2_div2>div>img{
        width: 75%;
    }

    .sec5_div>div{
        width: 80%;
    }
    footer{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    footer>.f_div1{
        padding-bottom: 20px;
    }
    
    footer>.f_div1>img{
        width: 60vw;
    }
}
