*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:  #D8D9DB;
}

h1{
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}

section{
    padding: 30px 40px;
    background-color: #D8D9DB;
    display: flex;
    gap: 0 20px;
}

.secdiv{
    padding: 50px 10px;
}

.sec2divv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100vw;
    border-top: 1px solid grey;
    padding-top: 20px;
}