*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:  #D8D9DB;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
    padding: 0 20px 0 0;
}

.revSec1{
    padding: 10px 40px;
    display: flex;
}


.revSec1div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.revSec2{
    padding: 50px 40px;
}

input{
    width: 250px;
    padding: 5px ;
    border: none;
    border-radius: 5px;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100vw;
    border-top: 1px solid grey;
}

textarea{
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 5px black;
}

textarea:focus{
    outline: none;
    box-shadow: 0 0 5px black;
}

.revSec1>.revSec1div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    border: none;
    background-color: #009B7D;
    color: white;
    display: block;
    /* margin: auto; */
    height: 40px;
    width: 250px;
    border-radius: 30px;
    position: relative;
    animation: opacity 0.8s ease-in-out;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sec3rev{
    padding: 10px 40px;

}

.h5review{
    font-size: 20px !important;
    text-decoration: underline;
}

.paraReview{
    text-indent: 30px;
}

.h5review::before {
    content: "";
    display: inline-block;
    background-image: url(../Images/men.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}


.div_review{
    
    margin: 20px 0;
    padding: 5px 10px ;
    border-radius: 10px;
}

@keyframes comment {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}



.fa-heart{
    position: relative;
    bottom: -5px;
    top: 5px;
    right: 20px;
    color: black;
}

section{
    margin-bottom: 40px;
}

/* .numbering{
    position: relative;
    top: 5px;
    font-size: 10px;
} */